h1{
    color: #568729;
}
div{
    height: 395px;
    width: 255px;
    background: tomato;
    font-weight: bold;
    padding: 28px 12px;
    border: 5px solid #949599;
    margin: 16px 8px;
    box-sizing: border-box;
}